@font-face{
    font-family: wolfer;
    src: url(../fonte/circular-black.woff2);
 }

 @font-face{
    font-family: rochester;
    src: url(../fonte/Rochester-Regular.ttf);
 }

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    background: none;
    border: none;
}

body{
    padding: 0px;
    margin: 0px;
}
.nav-bar{
    background-color: #000000;
    width: 99.1vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.central{
    width: 60vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-logo{
    width: 7vw;
    height: 8vh;
}

.list-link{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 15vw;
    height: 8vh;
    margin-top: 0px;
    justify-content: space-between;
    align-items: center;
}

.list-link li{
    cursor: pointer;
    list-style-type: none;
    font-family: wolfer;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    display: inline-block;
}

.list-link li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #006400;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.list-link li:hover::after{
    width: 100%;
}


.list-link li:hover{
    color: #006400;
}

.list-link span{
    list-style-type: none;
    font-family: wolfer;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
}

.middle{
    background-image: linear-gradient(#503d1b,rgba(0,0,0,0.6)),url(../images/graos.jpg);
    background-size: cover;
    width: 99.1vw;
    height: 92vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.middle-container{
    
    width: 60vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.middle-title{
    width: 30vw;
    height: 60vh;
}

.middle-title h1{
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 color: #ffffff;
 font-size: 50px;
 animation: text-animation 5s ease;
}

@keyframes text-animation{
    0% {
        transform: translateX(-1400px);
    }
    25% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}

.footer{
    width: 99.1vw;
    height: 30vh;
    background-color: black;
}