@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
 background: url('destaque-cafe-nas-alturas.png') no-repeat;
 background-size: cover;
 
}

.paidetodos{
  max-width: 350px;
  width: 100%;
  height: auto;
  background: rgb(255, 255, 255);
  padding: 60px 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
}


.paidetodos .social_media{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.paidetodos .social_media .icone{
  margin: 0 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 2px solid #131212;
  border-radius: 50%;
  cursor: pointer;
  color: #131212;
  transition: all 0.5s ease;
}

.paidetodos .social_media .icone:hover{
  border: 2px solid #0ac222;
  color: #0ac222;
}

.paidetodos .form .input_form{
  position: relative;
  margin-bottom: 10px;
}

.paidetodos .form .input_form .input{
  width: 100%;
  padding: 12px;
  padding-left: 30px;
  border: none;
  background: #eeeeee;
}

.paidetodos .form .btn{
  width: 70%;
  margin: 20px auto 0;
  background: #0ac222;
  text-align: center;
  padding: 12px;
  border-radius: 25px;

}


.paidetodos .form .btn a{
  color: #fff;
}

.form .btn:hover{  
    background-color: rgb(4, 85, 31);
    transition: 1s;
}

.paidetodos .form .input_form i{
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: #1d2120;
}

::-webkit-input-placeholder {
  color: #151615;
}
